#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.FormSize{
  width: 90%;
  margin-left: 5%;
  margin-top: 20px
}

.center-tab{
  margin-left: 15%;
  font-size: 25px;
  border: 2px solid skyblue;
}

.center-text{
  margin-left: 10%;
}

.tabsize{
  width: 10%;
}

.spaceButton{
  margin-left: 24px;
}